.spisok{
    display: flex;
    flex-direction: column;
}

section{
    border: 5px double #af4bff;
    width: 80px;
    margin: 40px 0 0 20px;
    background: #feffa4;
}

.l1{
    color: red;
}

.l2{
    color: blue;
}

input:checked  +label >ul{
    display: flex;
    flex-direction: column-reverse;
}

input:checked  +label >ul .l1{
    color: blue;
}

input:checked  +label >ul .l2{
    color: red;
}

input{
    display: none;
}

input +label:before{
    content: "";
    position: relative;
    left: 25px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid red;
}

input:checked +label:before{
    content: "";
    position: relative;
    left: 25px;
    top: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid blue;
}
